extends ../layout

block content
	h1= sensor.nome
	p= base
	table(border="1")
		tr
			td Temperatura
			td Umidade
			td Data/Hora
		each leitura in sensor.leituras
			tr
				td= leitura.temperatura
				td= leitura.umidade
				td= format_date(leitura.data_hora)
